/* we need to sometimes add things to get new hashes */
html, body {
  background-color:#666d71;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #586064;
}

html.framed, body.framed {
  padding: 0px;
  margin: 0px;
  background:#fff;
}
/* Authbox */
#authentication #header, #authentication .wrapper {
  width:350px;
}
#authentication #content {
  background:white;
  max-width: 90%;
  width: 330px;
  padding: 15px;
  margin: 0 auto;
  border: 1px solid transparent;
  -webkit-border-radius:3px;
     -moz-border-radius:3px;
      -ms-border-radius:3px;
          border-radius:3px;

  -webkit-box-shadow:0px 2px 7px rgba(0, 0, 0, 0.40);
     -moz-box-shadow:0px 2px 7px rgba(0, 0, 0, 0.40);
      -ms-box-shadow:0px 2px 7px rgba(0, 0, 0, 0.40);
          box-shadow:0px 2px 7px rgba(0, 0, 0, 0.40);
}
#authentication.framed #content {
  margin: 0 auto;
  border:none;
  -webkit-border-radius:0;
     -moz-border-radius:0;
      -ms-border-radius:0;
          border-radius:0;

  -webkit-box-shadow:none;
     -moz-box-shadow:none;
      -ms-box-shadow:none;
          box-shadow:none;
}
#authentication.framed #logo { display:none; }
html.dark #authentication #content {
  background: #424242;
  border-color: #5a5a5a;
}
html.dark, html.dark body {
  background-color: #303030;
}

#authentication #content form {
  margin-bottom:0;
}
#authentication #content form h3 {
  text-align:center;
}
#authentication input {
  position:relative;
  margin:0;
}
#authentication input[type=text],
#authentication input[type=number],
#authentication input[type=password],
#authentication input[type=email] {
  padding: 10px;
  width:100%;
  margin-bottom:13px;
  height: auto;
  border-radius: 4px;
}
#authentication input[type=password] + .hint {
  margin-top: -13px;
  margin-bottom: 13px;
}
#authentication .phonenumber input[type=text] {
  padding:inherit;
  width:100%;
  margin-bottom:inherit;
  height: auto;
}
#authentication .bigbutton {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  font-size:18px;
  line-height:25px;
  height: auto;
}

#signin {
  width:100%;
  margin:0 auto;
}
#authentication :not(.bootstrap-switch-content) > label {
  display: block;
  line-height: 22px;
}
#authentication #content #logo {
  position:static;
  background-position:center center;
  margin:0 auto;
  margin-bottom:10px;
  width: 240px;
  height: 52px;
  text-indent:-99999px;
  background-size: contain;
}
a img {
  border:none;
}
#forgot {
  clear:both;
  padding-top: 15px;
  padding-bottom: 10px;
}
#forgot a {
  float:left;
  margin-right:15px;
  padding-left:15px;
}
#forgot a {
  border-left:1px solid #ccc;
}
#forgot a:first-child {
  border:none;
  padding-left:0;
}
.flash {
  margin:auto;
}
#error_explanation h2 {
  font-size: 16px;
  color: red;
  margin-bottom: 10px;
  width: 100%;
}
#authentication .phonenumber .select2-container {
  width: 100px;
}
#authentication .phonenumber input.phone {
  width:calc(100% - 100px);
}

#authentication .select2-search input {
  margin-top: 3px;
}
