body {
  padding-bottom: 0;
}
.input_width {
  width: 48%;
}
.signup_pages #content {
  background-color: transparent;
}
.signup_pages .header {
  background: #fff;
}
.wrapper > .logo-header-2 {
  padding-top:8px;
}

.custom_header {
  border-bottom: 1px solid #ccc
}

#sign-up-form {
  margin:0 auto;
  padding:30px 0;
}
#sign-up-form form { padding:0; padding-top:10px;}
#sign-up-form.narrow {
  width:625px;
  padding:20px;
  border:1px solid #D4C4AE;
}
#sign-up-form.narrow .button {
  float:right;
}
#pricing {
  margin-bottom:20px;
  color:#666;
}
form .error:not(input) {
  margin:0;
  padding:0;
}
#sign-up-form .step {
  float:left;
  width: 290px;
  padding: 15px;
  height: 500px;
  border:1px solid #ccc;
  background:#fff;
  margin-left:44px;
}
#sign-up-form .step.focused {
  border: 1px solid #5fa2d7;
  margin-left:44px;
  -webkit-box-shadow: 0 0 5px #5fa2d7;
     -moz-box-shadow: 0 0 5px #5fa2d7;
      -ms-box-shadow: 0 0 5px #5fa2d7;
          box-shadow: 0 0 5px #5fa2d7;
}
#sign-up-form  .step.first {
  margin-left:2px;
}
#sign-up-form .step.valid {
  -webkit-box-shadow: 0 0 5px rgb(211, 248, 206);
     -moz-box-shadow: 0 0 5px rgb(211, 248, 206);
      -ms-box-shadow: 0 0 5px rgb(211, 248, 206);
          box-shadow: 0 0 5px rgb(211, 248, 206);
}
html:not(.dark) #sign-up-form .step.valid {
  background-color: rgb(222, 243, 222);
  background: -webkit-linear-gradient(rgb(242, 255, 228), #eed);
  background:    -moz-linear-gradient(rgb(242, 255, 228), #eed);
  background:     -ms-linear-gradient(rgb(242, 255, 228), #eed);
  background:         linear-gradient(rgb(242, 255, 228), #eed);
}
#sign-up-form .step.valid input[type=password],
#sign-up-form .step.valid input[type=text] {
}
#sign-up-form .step.narrow {
  min-width: 250px;
}
#sign-up-form .step.narrow .field input.string {
  width:100%;
}
#sign-up-form .step .field {
  margin-bottom:20px;
}

#sign-up-form > h3 {
  padding:10px;
}
#sign-up-form .step h3, h3 {
  font-size:18px;
  margin-bottom:30px;
/*  color:#888;*/
}
#sign-up-form .step fieldset {
  margin-bottom:0;
}
#sign-up-form .step h3, #sign-up-form .step fieldset {
  padding:0px;
}
#sign-up-form .step h3 {
  color:#fff;
  background: #5fa2d7;
  padding: 10px;
  margin-left: -16px;
  margin-right: -16px;
  margin-top: -16px;
  margin-bottom: 16px;
}
cite {
  font-style: normal;
}
span.hint {
  font-size: 12px;
}

#sign-up-form .step h3 i {
  text-align: right;
  vertical-align: middle;
  float: right;
  line-height: 20px;
}

#pricing {
  text-align:center;
}

.recharge-settings {
  float:left;
  width:580px;
  padding-right:20px;
}
.recharge-settings cite {
  font-size:10px;
}
#sign-up-form > h3,
.order-total {
  font-weight: bold;
  cursor: default;
}

.order-total {
  float:right;
  display:block;
  text-align:right;
  margin-top: 40px;
  position:relative;

  clear:both;
  height:141px;
  margin-bottom:40px;
}
.order-total p {
  opacity: 0.7;
}
#order-total {
  font-size:30px;
}

@media (max-width:335px) {
  .order-total {
    padding-left: 0;
    padding-right: 0;
    width: 300px;
    float: none;
    margin: 0 auto;
  }
}

#auto-recharge {
  margin-bottom:10px;
}

#card, #ccv {
  float:left;
}
#card {
  width:100%;
  padding-right:0;
}
#ccv {
  width:33%;
  padding-right:10px;
}
#expires {
  float:left;
  width:33%;
}
#postal-code {
  float:left;
  width:33%;
  padding-left:10px;
}

#auto-recharge {
  padding-top:50px;
}
#auto-recharge p {
  padding:23px 30px 30px;
}
#auto-recharge label {
  float:left;
  width:170px;
  text-align:center;
  font-size:20px;
  font-weight:bold;
  height:50px;
  line-height:50px;
  color:#616161;
  padding:0 10px;
  cursor:pointer;
}
#auto-recharge label.selected {

  background:#f5ffdb url(/images/buttons/price.png) no-repeat top left;
}
.first-last-name .field {
  width: 50%;
  float:left;
}
.first-last-name .field:first-child {
  padding-right:10px;
}
span.hint {
  display:block;
}
#card-type .field {
  width:260px;
  height:40px;
}
#card-type .field select {
  width:110px;
  float:left;
}
#card-type .field label {
  width:110px;
}
#accepted-cards {
  float:right;
  width:130px;
  height:32px;
  padding:0;
}
#accepted-cards span {
  display:inline-block;
  background:transparent url(/images/accepted-cards.png) no-repeat top left;
  width:30px;
  height:20px;
  padding-right:2px;
  cursor:pointer;
}
#accepted-cards span.american_express {
  background-position:0px top;
}
#accepted-cards span.master {
  background-position:-67px top;
}
#accepted-cards span.discover {
  background-position:-34px top;
}
#accepted-cards span.last {
  padding-right:0;
}
#accepted-cards span.visa {
  background-position:-100px top;
}
#get-started-button, .get-started-button {
  height:50px;
  width:210px;
  background:transparent url(/images/get-started.png) no-repeat top left;
  margin-left:20px;
}
#get-started-button:hover, .get-started-button:hover {
  background-position:left -50px;
}
#get-started-button:active, .get-started-button:active {
  background-position:left -100px;
}

#card-type select {
  text-transform:capitalize;
}
.field_with_errors {
  margin:-1px;
}
#ccvvoid { display:none; }
.registrations #flash-message {
}
.registrations #flash-message .font-warning {
  margin-top:10px;
}
.registrations #flash-message .hide-link {
  display:none;
}
.registrations #flash-message h3 {
  margin-bottom:10px;
}
.registrations #flash-message p {
  text-indent:20px;
}
.registrations #u-nav { display:none; }
#signup-in-progress {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  min-height:800px;
  height: 100%;
  background: #639BD3;
  opacity: 0.5;
  z-index: 1110;
}
#account-data {
  position:relative;
}
#progress-text {
  position: absolute;
  top: 10%;
  left: 0;
  font-size: 32px;
  padding: 130px 30px;
  z-index: 1112;
  width: 100%;
  background: #fff;
}
#content > h1 {
  font-size:18px;
  line-height:30px;
  margin:0;
}
#progress-text h1 {
  color: rgba(0, 0, 0, 0.68);
  z-index: 1000;
  position: absolute;
  font-size: 30px;
  margin: 0 auto;
  width: 100%;
  top: 55px;
}
#progress-bar {
  display:none;
}
.expires,
.zipcode {
  width:84px;
}
.bigbutton {
  font-size: 24px;
  padding: 10px 40px;
  height: 48px;
}
.signup_pages #logo,
.registrations #logo {
  width:300px;
  height:52px;
  max-width: calc(100% - 20px);
  background-size: contain;
}


#recaptcha, #no-recaptcha {
  float: right;
  width: 304px;
}

#no-recaptcha {
  margin-top:40px;
  margin-bottom:40px;
}

#recaptcha input[type=submit], #no-recaptcha input[type=submit] {
  padding:5px 40px;
  float:left;
  width:304px;
  margin-top:10px;
}

#order-agreement {
  text-align: left;
  float: left;
  width: calc(100% - 320px);
}

#sign-up-form .step.twoup {
  width:calc(50% - 23px);
}

#sign-up-form .step.oneup {
  width: 100%;
  height: auto;
}

.app .header:not(.crumbs) {
  margin-bottom: 10px;
}

@media (max-width: 978px) {
  .app .header:not(.crumbs) {
    margin-left: 10%;
    margin-right: 10%;
  }

  .wrapper {
    width: 100%;
  }

  .wrapper > .logo-header-2, .wrapper > h1, .order-total {
    padding-left: 10%;
    padding-right: 10%;
  }

  #sign-up-form .step, #sign-up-form .step.first, #sign-up-form .step.narrow, #sign-up-form .step.focused {
    height: auto;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 30px;
  }
}

@media (max-width: 650px) {
  .app .header:not(.crumbs) {
    margin-left: 5%;
    margin-right: 5%;
  }

  #sign-up-form .step, #sign-up-form .step.first, #sign-up-form .step.narrow, #sign-up-form .step.focused {
    width: 90%;
    margin-left: 5%;
  }

  .wrapper > .logo-header-2, .wrapper > h1, .order-total {
    padding-left: 5%;
    padding-right: 5%;
  }

  .order-total {
    width: 100%;
  }

  #order-agreement {
    width: 100%;
  }

  #recaptcha, #no-recaptcha {
    margin-top: 50px;
    margin-right: calc(50% - 152px);
  }
}

html.dark, html.dark #content, html.dark body {
  background: #303030;
}

html.dark .wrapper > .logo-header-2 {
  background: none;
}

html.dark #sign-up-form .step {
  background-color: #424242;
  border-color: #5a5a5a;
}

body.native #body > .header, body.native #ctm-header > .header {
  display: block !important;
}
body.native {
  margin-top: 40px;
}

#ctm-header {
  top: 0 !important;
}

body:not(.toolbar) header #messages {
  top: 0;
}

#flash-message .alert {
  border-radius: 0;
}



.plan-card {
  color: #fff;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  height: 100%;
  position: relative;
  padding-bottom: 85px;
  margin-bottom: 15px;
}
.plan-card h3 {
  color: #fff;
  margin-bottom: 10px;
}
.plan-card > span {
  margin-bottom: 0;
  display: inline-block;
}
.plan-card .price {
  font-size: 120%;
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
}
.plan-card .button {
  color: #fff;
  background-color: transparent !important;
  border: 1px solid rgba(255,255,255,0.5);
  width: calc(100% - 20px);
  margin-bottom: 0;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.plan-card:hover .button {
  border-color: #fff;
}
@media (min-width: 768px) {
  #plan-form > .container-fluid {
    display: flex;
  }
  .plan-card {
    padding-bottom: 65px;
  }
}
#plan-form > .container-fluid > .col-xs-12 {
  float: none;
  padding: 0 5px;
}

.plan-card[data-type="business"] {
  background-color: #6299d1;
}
.plan-card[data-type="marketing"] {
  background-color: #ac3392;
}
.plan-card[data-type="contact"] {
  background-color: #7ACCC8;
}
